* {
    box-sizing:         border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;

    margin: 0; /*to get rid of browsers applying margins by default (very silly)*/

    font-family: 'Antic Didone', serif;
}

main {
	box-shadow:         0 0 20px 10px #0d0d0d;
	-webkit-box-shadow: 0 0 20px 10px #0d0d0d;
	-moz-box-shadow:    0 0 20px 10px #0d0d0d;
	-o-box-shadow:      0 0 20px 10px #0d0d0d;
	margin: 20px auto 20px auto;
	padding: 0 1%;
	width: 60vw;
	height: 84vw;
	/* TODO: media queries */
	background: #FFFFFF;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: space-around;
}

body {
	background: #262626 url("background.png") fixed;
}

.container {
	border: 1px solid black;
	border-radius: 10px;
	background-color: #f0f0f0;
}

#character-name-area {
	width: 30%;
	height: 10%;
}

#character-details-area {
	width: 63%;
	height: 10%;
	display: flex;
	flex-flow: row wrap;
}

#character-details-area .character-detail {
	height: 50%;
	width: 33.3%;
}

.body-column {
	width: 30%;
	height: 85%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
}

/* left column -------------------------------- */

#skills-area {
	height: 70%;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-content: space-between;
}

#ability-score-area {
	height: 100%;
	width: 25%;
}

#ability-score-area .ability-score {
	height: 16.6%;
}

#inspiration {
	height: 7.5%;
	width: 70%;
}

#proficiency-bonus {
	height: 7.5%;
	width: 70%;
}

#saving-throws-area {
	height: 20%;
	width: 70%;
}

#skills {
	height: 60%;
	width: 70%;
}

#passive-perception {
	height: 5%;
}

#proficiencies {
	height: 20%;
}

/* middle column --------------------------- */

#combat-stats-area {
	height: 40%;
	display: flex;
	flex-flow: row wrap;
}

#armour-class {
	width: 33.3%;
}

#initiative {
	width: 33.3%;
}

#speed {
	width: 33.3%;
}

#hit-points {
	width: 100%;
}

#temporary-hit-points {
	width: 100%;
}

#hit-dice {
	width: 50%;
}

#death-saves {
	width: 50%;
}

#attacks {
	height: 30%;
}

#equipment-area {
	height: 25%;
	display: flex;
	flex-flow: row nowrap;
}

#money-area {
	width: 25%;
}

#money-area div {
	height: 20%;
}

#equipment {
	width: 75%;
}

/* right column ---------------------------------- */

#personality-area {
	height: 40%;
	display: flex;
	flex-flow: column nowrap;
}

#personality-traits, #ideals, #bonds, #flaws {
	height: 25%
}

#features {
	height: 56.75%;
}
