* {
    box-sizing:         border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;

    margin: 0; /*to get rid of browsers applying margins by default (very silly)*/
}

main {
	box-shadow:         0 0 20px 10px #0d0d0d;
	-webkit-box-shadow: 0 0 20px 10px #0d0d0d;
	-moz-box-shadow:    0 0 20px 10px #0d0d0d;
	-o-box-shadow:      0 0 20px 10px #0d0d0d;
	margin: 20px auto 20px auto;
	padding: 0 1%;
	width: 1240px;
	height: 1754px;
	/* TODO: media queries */
	background: #FFFFFF;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: space-around;
}

body {
	background: #262626 url("background.png") fixed;
}

#sidebar {
	position: fixed;
	top: 15vh;
	left: -250px;
	height: 70vh;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	transition: left 0.25s;
	z-index: 2;
}

#sidebar-toggle {
	cursor: pointer;
	border-radius: 0 50% 50% 0;
	text-align: right;
	position: relative;
	left: -40px;
	z-index: -1;
	width: 80px;
	height: 80px;
}

#sidebar.active {
	left: 0;
}

#sidebar-content {
	height: 100%;
	width: 250px;
	border: 2px #cccccc solid;
	border-radius: 0 10px 10px 0;
	background-color: white;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
}

#sidebar-content hr {
	margin: auto;
	border: 1px #cccccc solid;
	width: 90%;
}

.sidebar-button:first-child {
	border-top-right-radius: 10px;
}

.sidebar-button:last-child {
	border-bottom-right-radius: 10px;
}

.sidebar-button {
	cursor: pointer;
	flex-grow: 1;
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%);
	transition: background-color 0.25s;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.sidebar-button:hover {
	background-color: #e5e5e5;
}

.sidebar-button:active {
	background-color: #bbbbbb;
	padding-left: 2px;
}

.sidebar-button-text {
	font-size: 1em;
	font-family: sans-serif;
}

/* TODO: move components to separate file */

.entry-title {
	font-family: serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 0.8em;
}

.entry-subtitle {
	font-family: sans-serif;
	font-size: 0.8em;
	margin: auto 0;
}

.grey-text {
	color: #aaaaaa
}

#title {
	text-transform: uppercase;
	font-size: 1.5em;
	font-family: "Vollkorn", serif;
	font-weight: bold;
}

#title b {
	font-family: "Fondamento", cursive;
}

.container {
	border-radius: 10px;
	background-color: #f0f0f0;
}

.entry {
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	border: none;
	border-radius: 10px;
	text-align: center;
	transition: background-color 0.25s;
}

.entry:hover {
	background-color: #e5e5e5 !important;
}

.multi-line {
	text-align: left;
	resize: none;
	overflow: hidden;
	padding: 2% 2%;
}

.very-large-text {
	font-size: 2.5em;
}

.large-text {
	font-size: 1.5em;
}

#character-name-area {
	width: 30%;
	height: 10%;
	margin: auto 0;
	border: 2px black solid;
	border-radius: 10px;
	background-color: white;
	padding: 1% 2%;
}

#character-name-area .entry {
	text-align: left;
	height: 2em;
	border-top: 3px black double;
	border-bottom: 3px black double;
	border-radius: 0;
	margin: auto;
}

#character-name-area .entry-title {
	margin-top: 2%;
	text-align: left;
}

#character-details-area {
	width: 63%;
	height: 10%;
	display: flex;
	flex-flow: row wrap;
	border: 2px black solid;
	border-radius: 10px;
	background-color: white;
	padding: 1% 2%;
}

.character-detail {
	height: 50%;
	width: 33.3%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.character-detail .entry {
	font-size: 1.2em;
	text-align: left;
	height: 1.6em;
}

.character-detail .entry-title {
	text-align: left;
	padding-top: 3px;
	border-top: 1px #cccccc solid;
}

.body-column {
	width: 30%;
	height: 85%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
}

/* left column -------------------------------- */

#scores-area {
	height: 71.67%;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-content: space-between;
}

#ability-score-area {
	height: 100%;
	width: 35%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	word-wrap: break-word;
}

.ability-score {
	height: 10%;
	margin: 0 10%;
	border: 2px black solid;
	border-radius: 10px;
	background-color: white;
}

.ability-score .entry-title {
	position: relative;
	top: -95%;
}

.ability-score-small {
	border: 2px black solid;
	border-radius: 10px;
	height: 50%;
	width: 60%;
	position: relative;
	left: 20%;
	top: -40%;
	background-color: white;
	z-index: 0;
}

#inspiration-area, #proficiency-bonus-area {
	height: 5%;
	width: 60%;
	margin: 2% 0;
}

#inspiration, #proficiency-bonus {
	height: 100%;
	border: 2px black solid;
	border-left: none;
	border-radius: 10px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

#inspiration-small, #proficiency-bonus-small {
	height: 132%;
	width: 34%;
	border: 2px black solid;
	border-radius: 10px;
	background: white;
}

#inspiration-area .entry-title, #proficiency-bonus-area .entry-title {
	margin: auto;
}

#saving-throws-area {
	height: 20%;
	width: 60%;
	border: 2px black solid;
	border-radius: 10px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	padding: 2% 0;
}

#saving-throws {
	height: 85%;
	padding-left: 5%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
}

.saving-throw-holder, .skill-holder {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}

.saving-throw-holder input, .saving-throw-holder p, .skill-holder input, .skill-holder p {
	margin-left: 3%;
}

.saving-throw-holder .entry, .skill-holder .entry {
	width: 2em;
	border-bottom: 1px black solid;
	border-radius: 0;
	font-weight: bold;
}

#skills-area {
	height: 64%;
	width: 60%;
	border: 2px black solid;
	border-radius: 10px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	padding: 2% 0;
}

#skills {
	height: 95%;
	padding-left: 5%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
}

#passive-perception {
	height: 3.5%;
	width: 100%;
	border: 2px black solid;
	border-left: none;
	border-radius: 10px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

#passive-perception-small {
	height: 140%;
	width: 20%;
	border: 2px black solid;
	border-radius: 10px;
	background: white;
}

#passive-perception .entry-title{
	margin: auto;
}

#proficiencies-area {
	height: 19.83%;
	border: 2px black solid;
	border-radius: 10px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	padding: 2% 0;
}

#proficiencies {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
}

.proficiency-holder {
	height: 33%;
	margin: 1% 2% 0;
	display: flex;
	flex-flow: column nowrap;
}

.proficiency-holder .entry {
	background-color: #eeeeee;
	height: 100%;
}

.proficiency-holder .entry-title {
	position: relative;
	top: -25%;
	left: -2%;
	text-align: right;
}

/* middle column --------------------------- */

#combat-stats-area {
	height: 40%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	padding: 0 5%;
}

#combat-stats-top-row, #combat-stats-bottom-row  {
	width: 100%;
	height: 17.5%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

#armour-class, #initiative, #speed {
	width: 30%;
	border: 2px black solid;
	border-radius: 10px;
	background-color: white;
}

#armour-class .entry, #initiative .entry, #speed .entry {
	padding-bottom: 30%;
}

#armour-class .entry-title {
	position: relative;
	top: -30%;
}

#initiative .entry-title, #speed .entry-title {
	position: relative;
	top: -20%;
}

#hit-points, #temporary-hit-points {
	width: 100%;
	height: 22.5%;
	border: 2px black solid;
	border-radius: 10px;
	background-color: white;
	display: flex;
	flex-flow: column nowrap;
	padding: 2% 3%;
}

#hit-points-maximum, #hit-dice-total {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

#hit-points-maximum .entry-subtitle, #hit-dice-total .entry-subtitle {
	width: 65%;
}

#hit-points-maximum .entry {
	text-align: left;
	font-weight: bold;
	padding-left: 1%;
}

#hit-points-maximum-entry {
	border-bottom: 1px #cccccc solid;
	border-radius: 0;
}

#hit-dice {
	width: 47.5%;
	border: 2px black solid;
	border-radius: 10px;
	background-color: white;
	display: flex;
	flex-flow: column nowrap;
	padding: 2% 3%;
}

#hit-dice-total .entry {
	text-align: left;
	font-weight: bold;
	padding-left: 2%;
	width: 75%;
}

#hit-dice-total-entry {
	border-bottom: 1px #cccccc solid;
	border-radius: 0;
}

#death-saves {
	width: 47.5%;
	border: 2px black solid;
	border-radius: 10px;
	background-color: white;
	display: flex;
	flex-flow: column nowrap;
	padding: 5% 3% 2% 3%;
	justify-content: space-between;
}

.death-save-area {
	font-size: 0.9em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.death-save-area .entry-title {
	text-align: right;
	width: 50%;
}

.death-save-holder {
	width: 45%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	height: 50%;
	border-bottom: 3px black double;
}

#attacks {
	height: 30%;
	border: 2px black solid;
	border-radius: 10px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	padding: 2% 2%;
}

#weapons-area {
	display: flex;
	flex-flow: row wrap;
	flex-shrink: 0;
}

.weapon-row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 100%;
	margin: 1% 0;
}

.weapon-row > p:first-child, .weapon-row > .entry:first-child{
	width: 28%;
}

.weapon-row > p:nth-child(2), .weapon-row > .entry:nth-child(2) {
	width: 22%;
}

.weapon-row > p:nth-child(3), .weapon-row > .entry:nth-child(3) {
	width: 46%;
}

.weapon-row p {
	text-align: left;
}

.weapon-row .entry {
	background-color: #eeeeee;
	text-align: left;
	font-size: 1em;
	border-radius: 5px;
	padding: 1% 0;
}

#other-weapons {
	height: 100%;
	flex-shrink: 1;
	padding: 2% 0;
}

#other-weapons .entry {
	background-color: #eeeeee;
	height: 45%;
}

#other-weapons .entry-title {
	position: relative;
	top: -8%;
	left: -2%;
	text-align: right;
}

#equipment-area {
	height: 25%;
	border: 2px black solid;
	border-radius: 10px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	padding: 2% 0;
}

#equipment-money-splitter {
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}

#money-area {
	width: 40%;
	height: 75%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	position: relative;
	left: -3%;
}

.money-holder {
	height: 30%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.money-small {
	border: 2px black solid;
	border-radius: 10px;
	background-color: white;
	padding-left: 5%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	width: 50%;
	height: 50%;
}

.money {
	border: 2px black solid;
	border-radius: 10px;
	background-color: white;
	width: 60%;
	height: 80%;
	position: relative;
	left: -25%;
}

#equipment {
	width: 70%;
	margin-left: -10%;
	padding-top: 1%;
	padding-right: 2%;
	padding-bottom: 5%;
}

/* right column ---------------------------------- */

#personality-area {
	height: 40%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
}

#personality-traits, #ideals, #bonds, #flaws {
	margin: 0 5%;
	padding-bottom: 5%;
	border: 2px black solid;
	border-radius: 10px;
	background-color: white;
	height: 20%
}

#personality-traits .entry-title, #ideals .entry-title, #bonds .entry-title, #flaws .entry-title {
	position: relative;
	top: -5%;
}

#features {
	height: 56.75%;
	border: 2px black solid;
	border-radius: 10px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	padding: 2% 2%;
}

#features .entry {
	background-color: #eeeeee;
}

#features > div .entry-title {
	position: relative;
	left: -2%;
	text-align: right;
}

#race-features {
	height: 26%;
}

#race-features .entry-title {
	top: -10%;
}

#class-features {
	height: 50%;
}

#class-features .entry-title {
	top: -5%;
}

#background-features {
	height: 16%;
}

#background-features .entry-title {
	top: -14%;
}
